*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(3, 2, 79);
}
.navbar{
    background-color: purple;
    color: orange;
    width:1600px;
    height:80px;
    margin:0%;
}
.icon{
    width:180px;
    float:left;
    height:70px;
}
.logo{
    color:orange;
    font-size: 28px;
    font-family: 'Times New Roman';
    padding-left: 20px;
    float: left;
    padding-top: 20px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 80px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
    color: orange;
}
.title{
    font-family: 'Times New Roman';
    text-align: center;
    text-decoration: underline;
    color: white;
    padding-top: 50px;
    text-underline-offset: 10px;
}
.title span{
    color:orangered;
}
div img{
    width: 400px;
    position: absolute;
    left: 200px;
    top: 250px;
    border-radius: 10%;
}
.content{
    float: right;
    position: absolute;
    right: 200px;
    top: 250px;
    font-family: 'Times New Roman';
    color: orangered;
}
.content p{
    color: white;
    padding-top: 50px;
}
button{
    width: 130px;
    height: 40px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color:rgb(237, 95, 0);
    transform: translateY(-3px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}